{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div id="flashesbar">
    {% for category, message in messages %}
        {% if category == "error" %}
            <div class="panel panel-danger">
                <div class="panel-heading"><span class="{{ category }}"><strong class="panel-title">Error: </strong>{{ message }}</span></div>
            </div>
        {% elif category == "success" %}
            <div class="panel panel-success">
                <div class="panel-heading"> <span class="{{ category }}"><strong class="panel-title">Success!</strong> {{ message }}</span></div>
                <!-- <div class="panel-body"></div> -->
            </div>
        {% else %}
            <div class="panel panel-warning">
                <div class="panel-heading"> <strong class="panel-title">{{ category }}</strong> <span class="{{ category }}">: {{ message }}</span></div>
                <!-- <div class="panel-body"></div> -->
            </div>
        {% endif %}
    {% endfor %}
</div>
  {% endif %}
{% endwith %}
