<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/p5.min.js"></script>
    <script src="/static/zapass/scenemanager.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/addons/p5.dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/addons/p5.sound.min.js"></script>
    <script src="/static/zapass/p5.play.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/zapass/style.css">
  </head>
  <body>


    <!-- <input type="file" id="imageLoader" name="imageLoader"/>  -->
    <div class="marvel-device iphone5s ">
    <div class="top-bar"></div>
    <div class="sleep"></div>
    <div class="volume"></div>
    <div class="camera"></div>
    <div class="sensor"></div>
    <div class="speaker"></div>
    <div class="screen">
        <!-- Content goes here -->
            <div id='cnt'></div>
    </div>
    <div class="home"></div>
    <div class="bottom-bar"></div>
</div>
  </body>
  <script src="/static/zapass/sketch.js"></script>
</html>
