{% from "macros.html" import render_field %}
{% extends "loginlayout.html" %}
{% block content %}
<div class="container-fluid altaiter">
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div id="flashesbar-loginpage">
            {% for category, message in messages %}
                {% if category == "error" %}
                    <div class="panel panel-danger">
                        <div class="panel-heading"><span class="{{ category }}"><strong class="panel-title">Error: </strong>{{ message }}</span></div>
                    </div>
                {% elif category == "success" %}
                    <div class="panel panel-success">
                        <div class="panel-heading"> <span class="{{ category }}"><strong class="panel-title">Success!</strong> {{ message }}</span></div>
                        <!-- <div class="panel-body"></div> -->
                    </div>
                {% else %}
                    <div class="panel panel-warning">
                        <div class="panel-heading"> <strong class="panel-title">{{ category }}</strong> <span class="{{ category }}">: {{ message }}</span></div>
                        <!-- <div class="panel-body"></div> -->
                    </div>
                {% endif %}
            {% endfor %}
        </div>
          {% endif %}
        {% endwith %}
    </div>
    <div class="col-sm-4"></div>
</div>
<div class="row">
    <div class="col-sm-4 col-lg-5"></div>
    <div class="col-sm-4 col-lg-2">
        <h2 class="Logtitle">Login</h2>
        <form class="form well .form-group" method="POST" action="">
            <!--Creates a div that has a style:hidden attribute
                 actually i dont know what hidden tag is
             -->
            {{ form.hidden_tag()}}
            {% for field in form %}
                <!-- The macro we imported renders given lines from forms, obviously-->
                {{ render_field(field) }}
            {% endfor %}
            <button class="btn btn-default" type="submit" id="submit">Submit</button>
        </form>
    </div>
    <div class="col-lg-5"></div>
</div>
</div>
{% endblock %}
