{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header pull-left">
      <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <a class="navbar-brand" href="/"><img src="/static/images/skorlogo.png" alt=""></a>
    </div>
    <div class="navbar-header navbar-right pull-right">
        <a class="navbar-brand hidden-xs" href="/"><img src="/static/images/metulogowhite.png" alt=""></a>
        <button type="button" style="" class="navbar-toggle visible-xs-*" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
    </div>
  </div><!-- /.container-fluid -->
  <div class="navbar-header navbar-right pull-right visible-xs-*">          </div>
</nav>
<div id="sidebar-black" class="sidebar-nav">
  <nav id="navbar-black" class="navbar navbar-default" role="navigation">


    <div class="navbar-collapse collapse sidebar-navbar-collapse">

      <ul class="nav navbar-nav">
        <li class=""><a class="" href="/"><i class="glyphicon glyphicon-home"></i>Main</a></li>



        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-tags"></i> This Week-Under Dev. <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/">Wed. Night-O</a></li>
            <li><a href="/">Saturday</a></li>
            <li><a href="/">Sunday</a></li>
            <li class="divider"></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-list-alt"></i>Past Events-Under Dev.<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/">Placeholder</a></li>
            <li><a href="/">Placeholder</a></li>
            <li><a href="/">Placeholder</a></li>
            <li><a href="/">Placeholder</a></li>
          </ul>
        </li>

        <li><a href="#"><i class="glyphicon glyphicon-user"></i>Profile-Under Dev.</a></li>
        <li><a href={{url_for("members")}}><i class="glyphicon glyphicon-th-list"></i>Team Members</a></li>
        <li><a href={{url_for("post")}}><i class="glyphicon glyphicon-envelope"></i>Posts</a></li>
        <li><a href={{url_for("logout")}}><i class="glyphicon glyphicon-log-out"></i>Logout</a></li>

        <br>
        <hr>
        <li><a href={{url_for("createevent")}}><i class=""></i>Create Event</a></li>
        <li><a href={{url_for("nextevent")}}><i class=""></i>Active Event</a></li>
      </ul>
    </div><!--/.nav-collapse -->

  </nav><!--/.navbar -->
</div><!--/.sidebar-nav -->
{% endblock %}
