{% extends "layout.html" %}
{% from "macros.html" import render_field %}
{% block content %}
<div class="arbwrap">
    <div class="row" style="padding:15px;">
        <div class="col-sm-2 row"></div>
        <div class="col-sm-7">
            <div class="row">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    {% for field in form %}
                        {{ render_field(field) }}
                    {% endfor %}
                    <button style="margin-top:15px; margin-bottom:20px;" class="btn btn-default" type="submit" id="submit">Post it!</button>
                    <div class="pull-right">
                    {% if page > 1 %}
                      <a style="margin-top:15px; margin-bottom:20px;" class="btn btn-default" href={{url_for("post")}}/{{ page - 1 }}>Prev</a>
                    {% endif %}
                    {% if page <= makspage %}
                      <a style="margin-top:15px; margin-bottom:20px;" class="btn btn-default" href={{url_for("post")}}/{{ page + 1 }}>Next</a>
                    {% endif %}
                    </div>
                </form>
            </div>
            <div class="row">
                {% for post in allposts %}
                    <div class="well container-fluid">
                        <div class="row">
                            <h4 class="pull-left"><img src="/static/avatars/{{post.user.username}}/default.png" width="40px" style="margin-right:10px;" alt="">{{ post.user.username}}</h4>
                            <span class="pull-right"><i class="glyphicon glyphicon-time"></i><time class="timeago" datetime="{{ post.timestamp.strftime('%Y-%m-%dT%H:%M:%SZ') }}">{{ moment(post.timestamp).fromNow() }}</time></span>
                        </div>
                        <div class="row clearfix">
                        <article class="" style="margin-left:50px">{{ post.content }}</article>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
{% endblock %}
